@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="Home/Login" method="post">
    <label>Email</label><input type="text" name="email" /><br /><br />
    <label>Password</label><input type="text" name="pass" /><br /><br />
    <button>Login</button>

</form>